@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    font-family: "rubik";
    background: linear-gradient(135deg, rgb(202, 234, 255), rgb(186, 218, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    .container {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: white;
            padding: 2.5rem 2rem;
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            color: #333;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            width: 260px;
            transition: all 0.3s ;
            position: relative;
            overflow: hidden;
        }

        a::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        a:hover {
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
        }

    }
}



