
.row{
  display: flex;
  justify-content: center;
  width: 100%;
  border: #030281;
  padding: 0;
}
.lower_row{
  display: flex;
  justify-self: center;
}

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

} */


.box2{
  width: 35%;
}
.card-5{
    background-color:rgba(255, 255, 255, 0.829);
    padding: 5px;
    border-radius: 10px;
    color: black;
    border: 2px solid grey;
}

.small-box-footer {
    background-color: gray;
    position: static;
    flex-wrap: wrap;
    text-decoration: none;
    display: flex;
    padding: 4px;
    margin: 2px;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 0 0 5px 5px;
}
.small-box-footer a{
    text-decoration: none;
}

/*  table */

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr{
  background-color: #ffffff
}

th {
  background-color: #030281 ;
  color: white;
}

.icon{
  width: 20px;
  float: right;
  position:relative;
}


