/* table.table thead th {
    background-color: #134686 !important;
    color: white !important;
    text-align: center;
    border-collapse: collapse;
    position:static;
} */



body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Top Nav */
header {
    display: flex;
    justify-content: space-between; /* puts them at opposite ends */
    align-items: center;
    background-color: #0C1C43;
    color: white;
    padding: 15px 20px;
    height: 71px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}


header h1 {
    margin: 0;
    color: rgb(255, 255, 255);
}

/* Toggle button (hamburger) */
.menu-toggle {
    display: none; /* hidden by default */
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

/* Layout below header */
.content-area {
    display: flex;
    height: calc(100vh - 70px);
    /* border-left: 2px solid black; */
    transition: margin-left 0s ;
}

/* Side nav */
.sidebar {
    width: 250px;
    background:#012b55;
    color: white;
    padding: 20px;
    /* border-right: 2px solid black; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.sidebar ul {
    list-style: none;
    
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.sidebar a:hover {
    background: #012b55;
    padding-left: 5px;
    border-radius: 5px;
}

/* Main content */
main {
    background-color: rgb(186, 218, 255);
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}       

.sidenav_name {
    font-weight: 600; /* semi-bold */
}


/* 🔽 Responsive: Hide sidebar on small screens */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        /* top: 69px; below header */
        left: 0;
        height: calc(100vh - 70px);
        transform: translateX(-100%); /* hidden */
        z-index: -1000;
        /* border-right: 2px solid black; */
        width: 100%;
        /* transition: transform 0.3s ease-in-out; 👈 transition belongs here */
    }

    .sidebar.active {
        transform: translateX(0) ; /* visible when toggled */

    }

    .menu-toggle {
        display: block; /* show hamburger */
        color: white;
    }

    .content-area {
        margin-left: 0; /* main takes full width */
    
    }

    .content-area.shift {
        margin-left: 260px; /* push main when sidebar opens */
    }
}
