.right {
	background-color: #fdf9e9;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	align-content: flex-start;

	h1 {
	font-weight: lighter;
	font-size: 80px;
	text-align: center;
	}

	.cardco {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		align-content: center;
		padding-left: 20px;

    .cards {
		color: #0e100f !important;
		display: flex;
		height: 120px;
		width: 220px;
		margin-bottom: 10px;
      	margin-right: 140px;

		.svg {
			height: 100%;
			color: #0e100f !important;
		}

		.count {
			font-size: 100px;
			color: #0e100f !important;
		}

		.count:last-child {
			margin-left: -10px;
		}

		.text {
			align-content: center;

			p {
				margin-left: 10px;
				font-size: 25px;
				color: #0e100f;
			}
		}
			
			p {
				font-size: 25px;
			}
		}

		.svg1, .svg2, .svg3, .svg4, .svg5 {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.svg1 {
			color: rgb(0, 0, 0);
		}

		.svg2 {
			color: green;
		}

		.svg3 {
			color: blue;
		}

		.svg4 {
			color: orange;
		}

		.svg5 {
			color: red;
		}
	}
}

